.main{
    background-color: rgb(255, 255, 255);
    color: rgb(11, 11, 11);
    width: 40rem;
    height: 15rem;
    border-radius: 5rem;
}

h1{
    font-size: 4rem;
    font-family: var(--font-title);
    padding: 1rem;

}

input{
    height: 2.5rem;
    width: 16rem;
    font-family: var(--font-text);
    border-radius: 1rem 0 0 1rem;
    border-color: var(--background);
    padding-left: 1rem;
}

input:focus{
    border-color: var(--button-hover);
}

.button{
    border: none;
    padding: .75rem;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--background);
    color: var(--button-text)
}

.button:hover{
    background-color: var(--button-hover);
    cursor: pointer;
}

.card{
   display: flex;
   position: relative;
   left: 8rem;


&__profileImage{
    width: 12rem;
    border-radius: 50%;
    margin-top: 3rem;
  
    
}

&__name{
    color: var(--button-text);
    margin: 4rem 2rem;
}


&__profileName{
    color: var(--button-text);
    position: relative;
    top: 6rem;
    left: -12.2rem;
}

&__link{
    color: var(--button-text);
   
}
&__link:hover{
    color: var(--button-hover);
}

&__followers{
   
        color: var(--button-text);
        position: relative;
        top: 8rem;
        left: -19.2rem;
    
}
}